html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #0DC92C url(images/img01.png) repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 200;
	color: #000000;
}

h1, h2, h3 {
	margin: 10;
	padding: 0px 50px;
	font-weight: 500;
	color: #000000;
}

h2 {
  padding: 30px 0px 30px 0px;
  font-size: 3.5em;
}

p, ol, ul {
	margin-top: 10px;
}

p {
	line-height: 200%;
	padding: 0px 50px;
	font-size: 16px;
}
span {
	
	line-height: 200%;
	padding: 0px 50px;
	font-size: 16px;

}

strong {
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	width: 1200px;
	margin: 0px auto;
	padding: 0px 0px 100px 0px;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.1);
}

.container {
	width: 980px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */

#header {
}

/* Logo */

#logo {
	width: 960px;
	height: 150px;
	margin: 0px auto 30px auto;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	line-height: 100px;
	letter-spacing: -1px;
	text-align: center;
	
	font-size: 5em;
	color: #1F1F1F;
}

#logo h1 span {
	color: #1F1F1F;
}

#logo p {
	text-align: center;
	font-size: 16px;
	color: #595959;
}

#logo p a {
	color: #595959;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #1F1F1F;
}

/** MENU */

#menu {
	overflow: hidden;
	width: 1100px;
	height: 70px;
	margin: 0px 50px;
	background: #000000;
	font-size: 20px;
	color: #000000;
}

#menu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 40px 0px 40px;
	line-height: 70px;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	font-weight: 200;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
}

#menu .last {
	border-right: none;
}

/** PAGE */

#page {
}

/** CONTENT */

#content {
	padding: 0px 0px 0px 10px;
}

.twocolumn2 #content {
	padding: 0px 30px 0px 0px;
}

.onecolumn #content {
	padding: 0px 30px;
}

#content section {
	margin-bottom: 0px;
	border-bottom: 1px solid #E6E6E6;
}

#content section:last-child {
	border-bottom: 0;
}

.onecolumn #content section {
	border-bottom: none;
}

#content h2 {
	padding: 0px 0px 0px 45px;
	letter-spacing: -1px;
	font-size: 30px;
	color: #000000;
}

#content img {
	border: 5px solid #F3F3F3;
}

#content a img {
}

#content .post {
	padding: 0px 0px 0px 0px;
}

#content .img-alignleft {
	float: left;
	margin-right: 20px;
}

/** SIDEBAR */

#sidebar {
}

/* Footer */

#footer {
	overflow: hidden;
	width: 1100px;
	height: 100px;
	margin: 0 auto;
	border-top: 1px solid #CBCBCB;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	text-align: center;
	color: #454545;
}

#footer a {
	color: #2F2F2F;
}

/* Footer Content */

#footer-content {
	overflow: hidden;
	width: 1100px;
	padding: 50px;
	background: #ECECEC;
	text-shadow: 1px 1px 0px #FFFFFF;
	color: #666666;
}

#footer-content h2 {
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-size: 24px;
}

#footer-content #fbox1 {
	float: left;
	width: 600px;
	margin-right: 30px;
}

#footer-content #fbox2 {
	float: left;
	width: 220px;
}

#footer-content #fbox3 {
	float: right;
	width: 220px;
}

/* Welcome */


#welcome {
	width: 1100px;
	margin: 0px auto;
	padding: 30px 50px;
}

#welcome .content {
	padding: 0px 0px 40px 0px;
	border-bottom: 1px solid #D4D4D4;
}

#welcome h2 {
	padding: 0px 0px 20px 0px;
}

#welcome h2 a {
	text-decoration: none;
	color: #000000;
}


/* Three Columns */

#three-columns {
	overflow: hidden;
	width: 1100px;
	margin: 0px auto;
	padding: 50px 50px 0px 50px;
}

#three-columns .content {
	overflow: hidden;
	padding: 0px 0px 50px 0px;
}

#three-columns h2 {
	padding: 0px 0px 20px 40px;
	background: url(images/icon.png) no-repeat left 13px;
	color: #000000;
}

#three-columns #column1 {
	float: left;
	width: 300px;
	margin-right: 40px;
}

#three-columns #column2 {
	float: left;
	width: 290px;
}

#three-columns #column3 {
	float: right;
	width: 430px;
}

/* Two Columns */

#two-columns {
	overflow: hidden;
	width: 1100px;
	margin: 0px auto;
	padding: 40px 50px 50px 50px;
}

#two-columns h2 {
	padding: 0px 0px 20px 0px;
	color: #000000;
}

#two-columns #col1 {
	float: right;
	width: 740px;
}

#two-columns #col2 {
	float: left;
	width: 320px;
}


/* List Style 1 */

.list-style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.list-style1 li {
	padding: 20px 0px 20px 0px;
	border-top: 1px solid #D4D4D4;
}

.list-style1 .date {
	font-weight: bold;
	color: #212121;
}

.list-style1 img {
	float: left;
	margin-right: 25px;
}

.list-style1 .first {
	padding-top: 0px;
	border-top: none;
}


/* List Style 2 */

.list-style2 {
	margin: 0px;
	padding: 0px 0px 20px 0px;
	list-style: none;
}

.list-style2 li {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #D4D4D4;
}


.list-style2 .first {
	padding-top: 0px;
	border-top: none;
}

/* List Style 1 */

.link-style {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 15px;
	background: #000000;
	border-radius: 5px;
	letter-spacing: 1px;
	text-decoration: none;
	text-shadow: 1px 0px 1px #5C1111;
	color: #FFFFFF;
}

#banner {
	width: 1100px;
	margin: 10px auto 0px auto;
}

#search {

    background-color: #bebebe;
    background-image: linear-gradient(#fff, #bebebe);
    border-radius: 15px;    
    border-width: 1px;
    border-style: solid;
    border-color: #bebebe #bebebe #bebebe;            
    width: 510px;
    height: 55px;
    padding: 8px;  
    

}  

#box, 
#submit {
    float: left;
}

#box {
    padding: 0.5px 10px;
    height: 50px;
    width: 400px;
    border: 1px solid #bebebe;
    font: normal 14px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 30px 3px 3px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{       
    background-color: #333333;
    background-image: linear-gradient(#000000, #333333);
    border-radius: 3px 50px 50px 3px;    
    border-width: 1px;
    border-style: solid;
    border-color: #000000 #000000 #000000;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 50px;
    margin: 0 0 0 425px;
    margin-top:-50px;
   
    width: 85px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FFFFFF;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#button-style {
	display: block;
	width: 100px;
	height: 45px;
	margin: 0 0 0 990px;
	margin-top:10px;
	background-color: #000000;
	border-radius: 10px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	font-weight: 100;
	color: #FFFFFF;
	cursor: pointer;
}












