/* CSS Document */
body {
                background-image:url("backgound5.jpg");
                background-size: cover;
                background-repeat: no-repeat;
}

ul {

  text-align: left;
  display: inline;
  margin: 5;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
  
  font: bold 24px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -transition: all 0.2s;
}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
} 

p{
    font: bold 42px Arial,Helvetica,Sans-serif;
    color: #F3EFDC;

}
#search {

    background-color: #bebebe;
    background-image: linear-gradient(#fff, #bebebe);
    border-radius: 15px;    
    border-width: 1px;
    border-style: solid;
    border-color: #bebebe #bebebe #bebebe;            
    width: 500px;
    height: 50px;
    padding: 8px;  
    /*margin: 200px auto 50;
    overflow: hidden; *//* Clear floats */

}  

#box, 
#submit {
    float: left;
}

#box {
    padding: 10px 9px;
    height: 50px;
    width: 400px;
    border: 1px solid #bebebe;
    font: normal 14px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 30px 3px 3px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

/* ----------------------- */

#submit
{       
    background-color: #333333;
    background-image: linear-gradient(#000000, #333333);
    border-radius: 3px 50px 50px 3px;    
    border-width: 1px;
    border-style: solid;
    border-color: #000000 #000000 #000000;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 50px;
    margin: 0 0 0 0px;
    padding: 0;
    width: 90px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #FFFFFF;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {       
    background-color: #000000;
    background-image: linear-gradient(#333333, #000000);
}   

#submit:active {       
    background: #000000;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}

/*#search input[type="text"] {
    background: url("searchicon.png") no-repeat 10px 6px #fcfcfc;
    border: 4px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 400px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 450px;
    }
    
#search input[type="button"]{
    font: bold 12px Arial,Helvetica,Sans-serif;
    padding: 3px 10px 3px 17px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
} */

    
    
    



